.home_image {
  margin: auto;
  width: 80%;
  height: 80%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  // background-image: url("sketch.png");
  // background-image: url("https://media.istockphoto.com/id/1212722165/vector/sketch-the-room-office-chair-desk-various-objects-on-the-table-sketch-workspace-vector.jpg?s=612x612&w=0&k=20&c=52gYh4i9Kqhlzc_zxqXEvImnQ4BZrLO-WFa0fI8fG_8=")
}