.images-container {
    margin: 2rem auto;
    display: grid;
    // grid-template-columns: repeat(auto-fit, max-content [col-start] max-content [col-middle] max-content [col-end]);
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
  }
  
  .image {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  
  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px;
  }