
    .gallery_header{
        text-transform: uppercase;
        padding-top: 5%;
        padding-bottom: 0%;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 38px;
        margin-bottom: 10px;
        margin-top: 0px;
        text-align: center;
        color: #525252;

    }

    .gallery_type{
        text-transform: uppercase;
        color: #999;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 100px;
        margin-top: 0px;
        text-align: center;

    }

    .triangle_wrapper{
        margin-left: auto;
        margin-right: auto;
        align-content: center;

        .triangle_down {    
            position: relative;
            top: -5px;
            content: "";
            display: inline-block;
            width: 15px;
            height: 15px;
            border-right: 0.2em solid black;
            border-top: 0.2em solid black;
            transform: rotate(135deg);
            margin-right: 0.5em;
            margin-left: 1.0em;
        }
    }


    .gallery_wrapper {

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-column-gap: 10px;
        grid-row-gap: 30px;
    }
