.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  font-family: "Edu AU VIC WA NT Guides", cursive;
  justify-content: space-between;
  margin-bottom: 25px;
  .logo_container {

    img{
      width: 200px;
      height: 100px;
      padding: 15px;
    }

  }

  .nav_links_container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav_link {
      width: 150px;
      padding: 10px 15px;
      cursor: pointer;
    }
  }

}

hr {
  border: 1px dashed #bbb;
  opacity: 0.5;
}  
