.title {

  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  padding-bottom: 25px;
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;

}

.portrait {

  img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 30%;
    height: 30%;
  }

}

p {
  text-align: justify;
}