.footer_container {
    margin: auto;
    padding-top: 10%;
    .footer_text {
        text-align: center;
    }

    .footer_link_container {

        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-row-gap: 10px;
        grid-template-columns: repeat(3, 50px);
    }

}