
.work_item{
    margin-top: 4%;
    margin-bottom: 4%;
    
    .work_header{
        color: #684E72;
        font-size: 24px;
        padding-bottom: 1%;
        padding-top: 2%;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }

    .work_description{
        color: #525252;
        width: 80%;
        margin: auto;
        font-weight: 400;
        padding-bottom: 4%;
        text-align: center;

    }

    .wrapper{
        display: flex;
        width: 90%;
        margin: auto;
        padding-top: 2%;
        padding-bottom: 6%;

        .work_detail_container{
            min-width: 100px;
            font-weight: bold;
            text-transform: capitalize;
            div{
                line-height: 30px;
            }
        }
        
        .work_info_container{
            min-width: 200px;
            // text-transform: capitalize;

            div{
                line-height: 30px;
            }
        }
        
    }

    .image_gallery{
        .subtitle{
            text-transform: uppercase;
        }
    }
}
